:root {
    --red-color: #dc143c;
    --black-color: #000;
    --white-color: #fff;
}
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-wrap: pretty;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: var(--black-color);
    color: var(--white-color);
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wpp-logo {
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 40px;
    color: #22b81d;
    transition: scale .5s, translate .5s;
}
.wpp-logo:hover {
    scale: 1.2;
    translate: 0 -5px;
}

/*--- NAVBAR ---*/

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    background-color: transparent;
    animation: shadow 1 .5s both;
    animation-timeline: scroll();
    animation-range-start: 5px;
    animation-range-end: 250px;
}
.navBar__navLogo {
    height: 50px;
    width: 50px;
}
.openMenu {
    display: none;
}
.navBar__menuIcon {
    cursor: pointer;
}
.menuIcon--close {
    display: none;
}
.navBar__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    padding: 0 10px 10px 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    z-index: 10;
}
.list__item {
    list-style: none;
}
.list__item a, .homeText__btn a, .card__button a, .clients__btn a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    transition: background .5s;
    padding: 5px;
    margin: 5px 0;
    border-radius: 20px;
}
.list__item a:hover {
    background-color: #111;
}
.item--contact a, .homeText__btn a, .card__button a, .clients__btn a, form button{
    background-color: var(--red-color);
    border-radius: 20px;
    text-align: center;
}
.item--contact a:hover, .homeText__btn a:hover, .card__button a:hover, .clients__btn a:hover, form button:hover {
    background-color: #dc143ccc;
}
.navBar:has(.openMenu:checked) {
    box-shadow: none;
}
.navBar:has(.openMenu:checked) .navBar__list {
    opacity: 1;
    pointer-events: all;
    animation: shadow 1 .5s both;
    animation-timeline: scroll();
    animation-range-start: 5px;
    animation-range-end: 250px;
}
.navBar:has(.openMenu:checked) .navBar__menuIcon {
    display: none;
}
.navBar:has(.openMenu:checked) .menuIcon--close {
    display: inline;
}

/* --- HOME --- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home, .about, .services, .schedules, .memberships, .facilities, .clients, .contact {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.home {
    height: 100vh;
    width: 100%;
    padding: 70px 20px 0 20px;
    background-image: radial-gradient(#000c), url(images/imagen-fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(to bottom, #000 90%, transparent);
}
.homeLogo {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 20px var(--red-color));
}
.homeText {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home h1, .home h2 {
    text-transform: uppercase;
    font-weight: 500;
}
.home h2 {
    font-size: 15px;
    position: relative;
    margin-top: 10px;
    font-weight: 400;
}
.home h2::before, .home h2::after {
    content: '';
    background-color: var(--red-color);
    width: 60px;
    display: inline-block;
    height: 1px;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-right: 10px;
}
.home h2::after {
    left: 100%;
    margin: 0 0 0 10px;
}
.home h3 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
}
.homeText__btn, .card__button, .clients__btn {
    background-color: transparent;
    border: none;
    margin-top: 30px;
}
.homeText__btn a, .card__button a, .clients__btn a, form button {
    padding: 10px 20px;
    color: var(--white-color);
}
.homeText__arrow {
    color: inherit;
    opacity: .5;
    animation: up-down infinite .6s alternate ease-in; 
}
.homeText__arrow span {
    font-size: 30px;
}

/* ---ABOUT--- */

.about, .services, .schedules, .memberships, .facilities, .clients, .contact {
    height: max-content;
    text-align: left;
    padding: 70px 20px;
}
.about {
    background-color: #222;
}
.about strong {
    color: var(--red-color);
}
.about h2, .services h2, .schedules h2, .memberships h2, .facilities h2, .clients h2, .contact h2 {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
}
.about h2::before, .services h2::before, .schedules h2::before, .memberships h2::before, .facilities h2::before, .clients h2::before, .contact h2::before {
    content: '';
    height: 2px;
    width: 70%;
    background-color: var(--red-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 5px auto;
}
.about__text p, .services > p {
    margin-top: 20px;
}
.about__cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.cards__card, .reviews__client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #dc143c66;
    border-radius: 10px;
    height: 130px;
    width: 180px;
    margin: 10px;
    padding: 20px 0;
    background-color: var(--black-color);
    transition: box-shadow .5s, transform .5s;
}
.cards__card:hover {
    box-shadow: 0 0 10px var(--red-color);
    transform: translateY(-10px);
}
.cards__card span {
    color: var(--red-color);
}
.about .cards__card p:nth-of-type(1) {
    font-size: 20px;
}
.about .cards__card p:nth-of-type(2), .card--services p {
    color: #bbb;
    font-size: 13px;
}

/*--- SERVICES ---*/

.services {
    background-color: #111;
}
.services h3 {
    font-size: 15px;
}
.services span {
    font-size: 30px;
}
.services > p, .memberships > p, .facilities > p, .clients > p {
    text-align: center;
}
.services__cards, .schedules, .memberships, .facilities, .clients, .contact {
    width: 100%;
}
.services__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card--services, .card--schedules {
    width: 100%;
    max-width: 500px;
    height: 150px;
    margin: 30px;
    align-items: start;
    padding: 20px;
}

/*--- SCHEDULES ---*/

.schedules {
    background-color: #111;
}
.card--schedules {
    height: max-content;
    max-width: 800px;
}
.card--schedules:hover {
    transform: translate(0);
    box-shadow: none;
}
.card--schedules__header {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.card--schedules__header span {
    font-size: 30px;
    margin-right: 5px;
}
.card--schedules ul {
    width: 100%;
    margin-top: 20px;
}
.card--schedules li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 13px;
}
.card--schedules li:nth-of-type(2) {
    border-top: solid .5px #444;
    border-bottom: solid .5px #444;
}
.card--schedules li p:nth-of-type(2) {
    color: var(--red-color);
    margin-left: 10px;
    text-align: right;
}

/*--- MEMBERSHIPS ---*/

.memberships {
    background-color: #222;
}
.memberships__cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}
.memberships__card {
    background-color: #111;
    border: solid 1px #333;
    width: 100%;
    max-width: 400px;
    height: 380px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    font-size: 13px;
    transition: transform .5s, box-shadow .5s;
}
.memberships__card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px var(--red-color);
}
.card__header {
    text-align: center;
}
.header__time {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__time > span {
    color: var(--red-color);
    margin-right: 5px;
}
.header__offer {
    background-color: var(--red-color);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}
.header__offer > p:nth-of-type(1) {
    font-size: 10px;
}
.offer__price {
    font-weight: bold;
    font-size: 20px;
}
.offer__price span {
    font-weight: normal;
    font-size: 13px;
    color: #bbb;
}
.header__regularPrice {
    color: #bbb;
    text-decoration: line-through;
    text-decoration-color: #fff9;
}
.card__advantages ul li {
    padding-left: 10px;
    margin-top: 10px;
}
.card__advantages ul li::marker {
    color: var(--red-color);
    content: '✓';
}
.card__button-container {
    width: 100%;
}
.card__button {
    width: 100%;
}
.card--popular {
    border: solid 2px var(--red-color);
    position: relative;
}
.card--popular::before {
    content: 'Mas Popular';
    position: absolute;
    background-color: var(--red-color);
    padding:  5px 10px;
    border-radius: 15px;
    top: -15px;
    font-weight: bold;
}
.showAllCards {
    display: none;
}
.memberships__containerBtnAllCards {
    margin-top: 50px;
}
.memberships__containerBtnAllCards button {
    border: none;
    background-color: transparent;
    color: var(--white-color);
}
.containerBtnAllCards__btnAllCards {
    display: flex;
    background-color: #111;
    width: 100%;
    height: 100%;
    border: solid 1px #333;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    align-items: center;
    transition: background .5s;
}
.containerBtnAllCards__btnAllCards span {
    margin-left: 10px;
}
.btnAllCards__arrow {
    transition: transform .5s;
}
.containerBtnAllCards__btnAllCards:hover {
    background-color: #000;
}
.lessCards {
    display: none;
}
.memberships:has(.showAllCards:checked) .lessCards {
    display: inline;
}
.memberships:has(.showAllCards:checked) .allCards {
    display: none;
}
.memberships:has(.showAllCards:checked) .btnAllCards__arrow {
    transform: rotate(180deg);
}
.memberships:has(.showAllCards:checked) .card--hidden {
    animation: showCard .5s 1 ease;
}
.card--hidden {
    animation: hideCard .3s 1 forwards ease-in;
}
.memberships > p:last-child {
    color: #bbb;
    font-size: 12px;
    margin-top: 20px;
}

/*--- FACILITIES ---*/

/* .facilities__gallery, .clients__reviews {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    margin-top: 50px;
}

.facilities__gallery::-webkit-scrollbar, .clients__reviews::-webkit-scrollbar {
    display: none;
}
.facilities__gallery::scroll-button(right), .facilities__gallery::scroll-button(left), .clients__reviews::scroll-button(left), .clients__reviews::scroll-button(right) {
    content: url(images/arrow-carousel.svg);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0005;
    color: var(--white-color);
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -150%;
    padding: 5px 0 0 3px;
}
.facilities__gallery::scroll-button(left):active, .facilities__gallery::scroll-button(right):active, .clients__reviews::scroll-button(left):active, .clients__reviews::scroll-button(right):active {
    scale: .9;
}
.facilities__gallery::scroll-button(left), .clients__reviews::scroll-button(left) {
    transform: rotate(180deg);
    position-area: left center;
    translate: 150%;
    padding: 3px 0 0 3px;
}
.facilities__gallery::scroll-button(left):disabled, .facilities__gallery::scroll-button(right):disabled, .clients__reviews::scroll-button(left):disabled, .clients__reviews::scroll-button(right):disabled {
    opacity: .5;
    cursor: auto;
    scale: 1;
}
.gallery__image, .reviews__client {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: #222;
    height: 300px;
    flex: 0 0 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 15px;
} */
.facilities__gallery {
    display: flex;
    width: 100%;
    overflow-x: auto;
    margin-top: 50px;
    padding: 10px 0;
}
.facilities__gallery::-webkit-scrollbar {
    display: none;
}
.gallery__group {
    display: flex;
    gap: 20px;
    animation: spin 20s infinite linear;
    padding-right: 20px;
}
.gallery__image {
    background-color: #222;
    height: 300px;
    flex: 0 0 100vw;
    max-width: 600px;
    text-align: center;
    align-content: center;
    border-radius: 15px;
}
.facilities__gallery:hover .gallery__group {
    animation-play-state: paused;
}

/*--- CLIENTS ---*/

.clients {
    background-color: #222;
}
.clients__reviews {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin-top: 50px;
    anchor-name: --reviews-carousel;
}
.clients__reviews::-webkit-scrollbar {
    display: none;
}
.clients__reviews::scroll-button(left), .clients__reviews::scroll-button(right) {
    position-anchor: --reviews-carousel;
    background-color: #dc143cbb;
    translate: -55%;
    height: 30px;
    width: 30px;
    content: url(images/arrow-carousel.svg);
    border: none;
    border-radius: 50%;
    background-color: #0005;
    color: var(--white-color);
    cursor: pointer;
    position: fixed;
    position-area: right center;
    padding: 5px 0 0 3px;
}
.clients__reviews::scroll-button(left) {
    translate: 55%;
    position-area: left center;
    transform: rotate(180deg);
}
.clients__reviews::scroll-button(left):active, .clients__reviews::scroll-button(right):active {
    scale: .9;
}
.clients__reviews::scroll-button(left):disabled, .clients__reviews::scroll-button(right):disabled {
    scale: 1;
    cursor: auto;
    opacity: .5;
}
.reviews__client {
    scroll-snap-stop: always;
    scroll-snap-align: center;
    flex: 0 0 100%;
    max-width: 500px;
    height: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    font-size: 13px;
    border-color: #333;
    background-color: #111;
}
.iconStar {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color: var(--red-color);
    font-size: 20px;
}
.client__about {
    display: flex;
    align-items: center;
}
.about__img, .footer__img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.client__about div > p:first-child {
    font-size: 15px;
}
.client__about div > p:last-child {
    color: #bbb;
}
.clients__join {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.clients__join p {
    color: #bbb;
    font-size: 14px;
}
.clients__btn {
    margin-top: 10px;
}

/*--- CONTACT ---*/

.contact {
    background-color: #111;
}
.contact__contact-info {
    align-self: start;
}
.contact__contact-info > div {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
}
.contact__contact-info span {
    color: var(--red-color);
    margin-right: 10px;
}
.contact__contact-info h3 {
    font-weight: 400;
}
.contact__contact-info a {
    color: #bbb;
    text-decoration: none;
    margin-top: 5px;
}
.contact__contact-info a {
    display: inline-block;
}
.contact__contact-info a:hover {
    text-decoration: underline;
}
.contact-info__social-ntw {
    gap: 10px;
}
.contact-info__social-ntw div{
    height: 40px;
    width: 40px;
}
.contact-info__social-ntw a {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    background-color: #222;
    border-radius: 50%;
    transition: background .5s;
}
.contact-info__social-ntw a:hover {
    text-decoration: none;
    background-color: var(--red-color);
}
.contact-info__social-ntw i {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.form {
    display: flex;
    flex-direction: column;
    background-color: #222a;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    border: solid 1px #333;
    margin-top: 50px;
    width: 100%;
    max-width: 700px;
}
.form fieldset {
    border: solid 1px #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin-top: 20px;
    background-color: #222;
}
.form legend {
    text-align: center;
    padding: 0 10px;
    font-weight: bold;
}
fieldset div, .form > div {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}
input {
    margin-top: 5px;
    background-color: #1118;
    border: solid 1px #333;
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 10px;
    transition: outline .5s;
    color: var(--white-color);
}
textarea {
    background-color: #111;
    border: solid 1px #333;
    resize: none;
    border-radius: 10px;
    height: 100px;
    font-family: inherit;
    transition: outline .5s;
    padding: 10px;
    margin-top: 5px;
    color: var(--white-color);
}
textarea:focus, input:focus {
    outline: solid .5px var(--red-color);
}
textarea::-webkit-scrollbar {
    width: 7px;
}
textarea::-webkit-scrollbar-thumb {
    background-color: #222;
    cursor: pointer;
}
form button {
    border: none;
    transition: background .5s;
    cursor: pointer;
    font-family: inherit;
}

/*--- FOOTER ---*/

footer {
    border-top: solid 1px #222;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-header {
    display: flex;
    align-items: center;
}
footer h2, footer h3 {
    font-size: 13px;
}
.since1990, .rightsReserved {
    font-weight: 400;
    color: #bbb;
    font-size: 12px;
}
footer p {
    margin-top: 20px;
}
.contact-info--footer {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 20px 0;
}
.contact-info__social-ntw {
    align-self: center;
}


/* --- ANIMATIONS ---*/

@keyframes up-down {
    to {
        transform: translateY(10px);
    }
}
@keyframes shadow {
    from {
        background-color: transparent;
        box-shadow: none;
    }
    to {
        background-color: var(--black-color);
        box-shadow: 0 10px 20px -10px var(--red-color);
    }
}
@keyframes showCard {
    0% {
        display: flex;
        opacity: 1;
        transform: translateY(5px);
    }
    50% {
        display: flex;
        opacity: 1;
        transform: translateY(-40px);
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
@keyframes hideCard {
    0% {
        opacity: 1;
        transform: translateY(5px);
    }
    50% {
        opacity: 1;
        transform: translateY(-40px);
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

/*--- MEDIA-QUERIES ---*/

@media screen and (min-width: 750px) {
    .contact-info--footer {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}
@media screen and (min-width: 850px) {
    .navBar {
        padding: 5px 20px;
    }
    .navBar__menuIcon {
        display: none;
    }
    .navBar__list {
        position: static;
        width: auto;
        background-color: transparent;
        padding: 0;
        opacity: 1;
        pointer-events: all;
        transition: none;
    }
    .navBar__list ul {
        display: flex;
        align-items: center;
    }
    .list__item a{
        margin: 0;
        padding: 10px 20px;
    }
    .about__content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 30px;
    }
    .about__text {
        width: 40%;
    }
    .about__cards {
        margin: 0;
        width: 50%;
        max-width: 400px;
    }
    .services__cards {
        margin-top: 30px;
    }
    .card--services {
        height: 180px;
        width: 300px;
    }
}
@media screen and (min-width: 1024px) {
    .reviews__client {
        scroll-snap-align: start;
    }
}