:root {
    --red-color: #dc143c;
    --black-color: #000;
    --white-color: #fff;
}
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-wrap: pretty;
}
body {
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--- NAVBAR ---*/

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    background-color: var(--black-color);
    animation: shadow 1 .5s both;
    animation-timeline: scroll();
    animation-range-start: 5px;
    animation-range-end: 250px;
}
.navBar__navLogo {
    height: 50px;
    width: 50px;
}
.openMenu {
    display: none;
}
.navBar__menuIcon {
    cursor: pointer;
}
.menuIcon--close {
    display: none;
}
.navBar__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--black-color);
    padding: 0 10px 10px 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    z-index: 10;
}
.list__item {
    list-style: none;
}
.list__item a, .homeText__btn a, .card__button a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    transition: background .5s;
    padding: 5px;
    margin: 5px 0;
    border-radius: 20px;
}
.list__item a:hover {
    background-color: #111;
}
.item--contact a, .homeText__btn a, .card__button a{
    background-color: var(--red-color);
    border-radius: 20px;
    text-align: center;
}
.item--contact a:hover, .homeText__btn a:hover, .card__button a:hover {
    background-color: #dc143ccc;
}
.navBar:has(.openMenu:checked) {
    box-shadow: none;
}
.navBar:has(.openMenu:checked) .navBar__list {
    opacity: 1;
    pointer-events: all;
    animation: shadow 1 .5s both;
    animation-timeline: scroll();
    animation-range-start: 5px;
    animation-range-end: 250px;
}
.navBar:has(.openMenu:checked) .navBar__menuIcon {
    display: none;
}
.navBar:has(.openMenu:checked) .menuIcon--close {
    display: inline;
}

/* --- HOME --- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    background: linear-gradient(to bottom, #000, #222, #000);
}
.home, .about, .services, .schedules, .memberships, .facilities {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.homeLogo {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    filter: drop-shadow(0 0 20px var(--red-color));
}
.homeText {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home h1, .home h2 {
    text-transform: uppercase;
    font-weight: 500;
}
.home h2 {
    font-size: 15px;
    position: relative;
    margin-top: 10px;
    font-weight: 400;
}
.home h2::before, .home h2::after {
    content: '';
    background-color: var(--red-color);
    width: 60px;
    display: inline-block;
    height: 1px;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-right: 10px;
}
.home h2::after {
    left: 100%;
    margin: 0 0 0 10px;
}
.home h3 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
}
.homeText__btn, .card__button {
    background-color: transparent;
    border: none;
    margin-top: 30px;
}
.homeText__btn a, .card__button a {
    padding: 10px 20px;
    color: var(--white-color);
}
.homeText__arrow {
    color: inherit;
    opacity: .5;
    animation: up-down infinite .6s alternate ease-in; 
}
.homeText__arrow span {
    font-size: 30px;
}

/* ---ABOUT--- */

.about, .services, .schedules, .memberships, .facilities {
    height: max-content;
    text-align: left;
    padding: 70px 20px;
}
.about strong {
    color: var(--red-color);
}
.about h2, .services h2, .schedules h2, .memberships h2, .facilities h2 {
    position: relative;
    margin-bottom: 20px;
}
.about h2::before, .services h2::before, .schedules h2::before, .memberships h2::before, .facilities h2::before {
    content: '';
    height: 2px;
    width: 70%;
    background-color: var(--red-color);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 5px auto;
}
.about__text p, .services > p {
    margin-top: 20px;
}
.about__cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.cards__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: solid 1px #dc143c66;
    border-radius: 10px;
    height: 130px;
    width: 180px;
    margin: 10px;
    padding: 20px 0;
    background-color: var(--black-color);
    transition: box-shadow .5s, transform .5s;
}
.cards__card:hover {
    box-shadow: 0 0 10px var(--red-color);
    transform: translateY(-10px);
}
.cards__card span {
    color: var(--red-color);
}
.about .cards__card p:nth-of-type(1) {
    font-size: 20px;
}
.about .cards__card p:nth-of-type(2), .card--services p {
    color: #bbb;
    font-size: 13px;
}

/*--- SERVICES ---*/

.services h3 {
    font-size: 15px;
}
.services span {
    font-size: 30px;
}
.services > p, .memberships > p, .facilities > p {
    text-align: center;
}
.services__cards, .schedules, .memberships, .facilities {
    width: 100%;
}
.card--services, .card--schedules {
    width: 100%;
    height: 150px;
    margin: 30px 0;
    align-items: start;
    padding: 20px;
}

/*--- SCHEDULES ---*/

.card--schedules {
    height: max-content;
}
.card--schedules:hover {
    transform: translate(0);
}
.card--schedules__header {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.card--schedules__header span {
    font-size: 30px;
    margin-right: 5px;
}
.card--schedules ul {
    width: 100%;
    margin-top: 20px;
}
.card--schedules li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 13px;
}
.card--schedules li:nth-of-type(2) {
    border-top: solid .5px #444;
    border-bottom: solid .5px #444;
}
.card--schedules li p:nth-of-type(2) {
    color: var(--red-color);
    margin-left: 10px;
    text-align: right;
}

/*--- MEMBERSHIPS ---*/

.memberships__cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.memberships__card {
    background-color: #111;
    border: solid 1px #222;
    width: 100%;
    max-width: 400px;
    height: 380px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    font-size: 13px;
    transition: transform .5s;
}
.memberships__card:hover {
    transform: translateY(-10px);
}
.card__header {
    text-align: center;
}
.header__time {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__time > span {
    color: var(--red-color);
    margin-right: 5px;
}
.header__offer {
    background-color: var(--red-color);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}
.header__offer > p:nth-of-type(1) {
    font-size: 10px;
}
.offer__price {
    font-weight: bold;
    font-size: 20px;
}
.offer__price span {
    font-weight: normal;
    font-size: 13px;
    color: #bbb;
}
.header__regularPrice {
    color: #bbb;
    text-decoration: line-through;
    text-decoration-color: #fff9;
}
.card__advantages ul li {
    padding-left: 10px;
    margin-top: 10px;
}
.card__advantages ul li::marker {
    color: var(--red-color);
    content: '✓';
}
.card__button-container {
    width: 100%;
}
.card__button {
    width: 100%;
}
.card--popular {
    box-shadow: 0 0 10px var(--red-color), 0 0 40px var(--red-color);
    position: relative;
}
.card--popular::before {
    content: 'Mas Popular';
    position: absolute;
    background-color: var(--red-color);
    padding:  5px 10px;
    border-radius: 15px;
    top: -15px;
    font-weight: bold;
}
.showAllCards {
    display: none;
}
.memberships__containerBtnAllCards {
    margin-top: 50px;
}
.memberships__containerBtnAllCards button {
    border: none;
    background-color: transparent;
    color: var(--white-color);
}
.containerBtnAllCards__btnAllCards {
    display: flex;
    background-color: #111;
    width: 100%;
    height: 100%;
    border: solid 1px #333;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    align-items: center;
    transition: background .5s;
}
.containerBtnAllCards__btnAllCards span {
    margin-left: 10px;
}
.btnAllCards__arrow {
    transition: transform .5s;
}
.containerBtnAllCards__btnAllCards:hover {
    background-color: #000;
}
.lessCards {
    display: none;
}
.memberships:has(.showAllCards:checked) .lessCards {
    display: inline;
}
.memberships:has(.showAllCards:checked) .allCards {
    display: none;
}
.memberships:has(.showAllCards:checked) .btnAllCards__arrow {
    transform: rotate(180deg);
}
.memberships:has(.showAllCards:checked) .card--hidden {
    animation: showCard .5s 1 ease;
}
.card--hidden {
    animation: hideCard .3s 1 forwards ease-in;
}
.memberships > p:last-child {
    color: #bbb;
    font-size: 12px;
    margin-top: 20px;
}

/*--- FACILITIES ---*/

.facilities__gallery {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    margin-top: 50px;
}
.facilities__gallery::-webkit-scrollbar {
    display: none;
}
.facilities__gallery::scroll-button(right), .facilities__gallery::scroll-button(left)  {
    content: url(images/arrow-carousel.svg);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #0005;
    color: var(--white-color);
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    position-area: right center;
    translate: -150%;
    padding-top: 5px;
}
.facilities__gallery::scroll-button(left) {
    transform: rotate(180deg);
    position-area: left center;
    translate: 150%;
}
.facilities__gallery::scroll-button(left):disabled, .facilities__gallery::scroll-button(right):disabled {
    opacity: .5;
    cursor: auto;
}
.gallery__image {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-color: #222;
    height: 300px;
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 15px;
}

/* --- ANIMATIONS ---*/

@keyframes up-down {
    to {
        transform: translateY(10px);
    }
}
@keyframes shadow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0 10px 20px -10px var(--red-color);
    }
}
@keyframes showCard {
    0% {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        display: flex;
        opacity: 1;
        transform: translateY(-40px);
    }
    100% {
        display: flex;
        opacity: 1;
    }
}
@keyframes hideCard {
    to {
        scale: 0;
        opacity: 0;
        display: none;
    }
}